/* screen.css */

body {
  font-family: sans-serif;
  color: 323232;
  background-color: #FBF8EF;
  text-align: center;
}

header {
  margin-bottom: 50px;
}

header h1 {
  margin: 50px auto 30px;
}

header h1 img {
  width: 250px;
  height: 99px;
}

meter {
  width: 300px;
  height: 30px;
  background: #fff;
  margin-bottom: 20px;
}

#raised {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

#target {
  color: #666;
  margin-bottom: 50px;
}

#send-coins img {
  width: 200px;
  height: 200px;
}
